body{
		/*border: 2px solid black; */
		 /*padding:16px;*/
		margin-left: 20% ;
		margin-right: 20% ;
		/*margin-top: 16px;*/
		/*border-radius:50px; */
		font-family: 'Muli', sans-serif;
		background-image: url("..\/images\/background 2.jpg");


	}
	.heading{
	text-align: center;	
	font-size: 3em;
	}
	.mera-class {
		background-image: url("..\/images\/background.jpg");
		padding: 16px;
	}
	table{
		width: 100%;
			}
	th,td{
		text-align: left;
		padding: 8px;
	}
 h4 {
 	text-decoration: underline;
 }
 

	.float-right {
		text-align: right;
	}

	.font-size-32 {
		font-size: 32px;
	}
 .font-size-24 {
 	font-size: 24px;
 }